* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Navigation bar*/
.navbar {
    display: flex;
    border-radius: 15px;
    height: 60px;
    width: 99%;
    margin: auto;
    margin-top: 2px;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: white;
    overflow: hidden;
    font-size: x-large;
}

.navbar a {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: x-large;
    text-decoration: none;
    margin: 8px;
}

.navbar a:hover {
    background-color: rgb(204, 170, 0);

}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;}
footer {
    margin: auto;
    margin-top: auto;
    margin-bottom: 2px;
    width: 99%;
    height: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
    align-items: center;
    background-color: #333;
    color: white;
    font-size: medium;
}
.reset {
    width: 200px;
    height: 50px;
    margin: auto;
    margin-bottom: 20px;
}